@import "../../assets/css/main.scss";

.appointment-page {
  padding: 5rem;

  .userinfo {
    display: flex;
    align-items: center;

    .heading {
      margin: 0;
      margin-left: 1rem;
      font-size: 20px;
    }

    span {
      color: $textBlue;
    }

    img {
      border-radius: 20px;
      max-height: 64px;
    }
  }
  
  .appointments-list {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;

    .appointment {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      border-radius: 5px;
      padding: 1rem;
      background-color: #fff;
      justify-content: space-between;

      .name {
        margin: 0;
        padding: 0;
        font-size: 15px;
        flex: auto;
        text-align: center;
      }

      span {
        color: $textBlue;
      }

      .deny {
        background-color: red;
      }

      .actions {
        display: flex;
        width: 230px;
        justify-content: space-between;
      }
    }


  }
}