@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body, #root, html {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: lightgray;
}

$white: #fff;
$darkBlue: #1b4970;
$highlightBlue: #4381b5;
$textBlue: #85badb;


.react-datepicker {
  width: 430px;
  height: 340px;
  border: none;
  border-radius: 10px;

  .react-datepicker__month-container {
    width: 430px;
    height: 340px;
  }

  .react-datepicker__day-names {
    display: none;
  }

  .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    padding: 10px;
    border-top-right-radius: 0.3rem;
    background: none;
    border: none;
  }

  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    color: $textBlue;
    width: 2.7rem;
    line-height: 2.7rem;
  }
  
  .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    color: #8e8e8e;
  }
}